---
layout: default
<!-- title: alrojo -->
---

<h3>About</h3>

<div class="about">
    <img src="https://scholar.google.dk/citations?view_op=medium_photo&user=YWLFeUkAAAAJ&citpid=2" />
    <p><b>I am a CS PhD student at Stanford University.</b> I am excited about applications of machine learning to real-world problems.
	Previously, I have constructed machine learning algorithms for natural language processing, bioinformatics, and health tech.
	In my current work at the Snyder lab we are investigating the potential and use of wearable biomedical devices and fitness trackers.
</div>​



<a class="link" style="color: white; background: #4daf4a;">alexander@cs.[university].edu</a>
<a class="link" href="https://scholar.google.dk/citations?user=YWLFeUkAAAAJ&hl=en" style="color: white; background: #e41a1c;">Google Scholar Profile</a>
<a class="link" href="https://github.com/alrojo/me/blob/master/AlexanderResume.pdf" style="color: white; background: #984ea3;">Resume</a>
<a class="link" href="https://github.com/alrojo" style="color: white; background: #0E53A7;">GitHub</a>
<a class="link" href="https://www.linkedin.com/in/alexrosejo/" style="color: white; background: #999999;">LinkedIn</a>
<a class="link" href="https://twitter.com/alexrosejo" style="color: white; background: #4099FF;">Twitter</a>

<hr>

<h3>Publications</h3>
<a id="publications"></a>

  {% for publication in site.posts %}
  	{% if publication.type == "paper" %}  
	
  	<div class="publication">
    		{% if publication.image %}
	  			<img src="{{publication.image}}" />
		{% else %}
			  	<img src="/assets/images/dummywhite.jpg" />
		{% endif %}

   	<p>
	    <b><a style="color:#525252; padding:0px 0px" href={{publication.link}} >{{ publication.title }}</b></a>
	    <br>
		{{ publication.author }}
		<br>
		{{ publication.journal }},  {{ publication.year }}<br>

		{% if publication.pdf %}
	  			<a class="link" href={{publication.pdf}}  style="color: white;background: #4daf4a">PDF</a>
		{% endif %}

		{% if publication.link %}
	  			<a class="link" href={{publication.link}}  style="color: white;background: #984ea3">Abstract</a>
		{% endif %}

		{% if publication.bibtex %}
	  			<a class="link" href="{{publication.bibtex}}" style="color: white; background: #e41a1c;">Bibtex</a>
		{% endif %}

		{% if publication.code %}
	  			<a class="link" href={{publication.code}}  style="color: white;background: #0E53A7">Code</a>
		{% endif %}

		{% if publication.website %}
	  			<a class="link" href={{publication.website}}  style="color: white;background: #d94801">Website</a>
		{% endif %}

        {% if publication.video %}
	  			<a class="link" href={{publication.video}}  style="color: white; background: #999999;">Video</a>
		{% endif %}

        {% if publication.blog %}
            <a class="link" href={{publication.blog}}  style="color: white; background: #4099FF;">Blog</a>
        {% endif %}


 	</p>
 	</div>​
  {% endif %}
{% endfor %}


<hr>

<a id="community"></a>
<h3>Community</h3>

Previously, to build a strong deep learning community in Denmark I organized events for students with machine learning researchers and interested companies.
This has led to 7 events with +1.5k student participants and sponsors such as Nordea, KPMG, Novozymes, Oticon, and Novo Nordisk.
Post COVID I hope to make similar efforts in the bay area.

​
<hr>
