---
layout: default
<!-- title: alrojo -->
---

<h3>About</h3>

<div class="container">
    <div class="row about">
        <div class="col-md-4 col-12 text-center">
            <img src="/assets/images/profile.jpg"  alt="Profile picture" class="img-fluid mb-3 mb-md-0">
            <a class="link" style="color: white; background: #4daf4a;">xikunz2@cs.[my grad school].edu</a><br>
            <a class="link" href="https://scholar.google.com/citations?user=J9OTZbUAAAAJ&hl=en" style="color: white; background: #e41a1c;">Google Scholar Profile</a>
            <a class="link" href="/media/CV.pdf" style="color: white; background: #984ea3;">Resume</a>
            <a class="link" href="https://github.com/XikunZhang" style="color: white; background: #0E53A7;">GitHub</a>
            <a class="link" href="https://www.linkedin.com/in/xikun/" style="color: white; background: #999999;">LinkedIn</a>
            <a class="link" href="https://x.com/xikun_zhang_?lang=en" style="color: white; background: #4099FF;">X</a>
        </div>
        <div class="col-md-8 col-12">
            <p>I am a Research Scientist at OpenAI working on AI agents, Deep Research and ChatGPT.<br><br>
                
            I was a Ph.D. student in Computer Science at <a href="https://cs.stanford.edu/">Stanford University</a> from 2020 to 2025. I generally focused on deep learning, generative AI, large language models and computer vision. I was very fortunate to be able to work with <a href="https://cs.stanford.edu/people/jure/">Jure Leskovec</a>, <a href="https://lundberglab.stanford.edu/">Emma Lundberg</a>, <a href="http://anshul.kundaje.net/">Anshul Kundaje</a> and <a href="https://anlab.stanford.edu/">Aaron Newman</a>. Some of my published work included
            <ol>
                <li>Graph machine learning (<a href="https://arxiv.org/abs/1908.01207">JODIE</a>, <a href="https://arxiv.org/abs/2201.08860">GreaseLM</a>, <a href="https://arxiv.org/abs/2210.09338">DRAGON</a>, <a href="https://arxiv.org/abs/1910.01448">AutoPath)</a></li>
                <li>Understanding large language models (<a href="https://arxiv.org/abs/2010.05345">NumBERT</a>)</li>
                <li>Common-sense reasoning (<a href="https://arxiv.org/abs/2010.05345">NumBERT</a>, <a href="https://arxiv.org/abs/2201.08860">GreaseLM</a>, <a href="https://arxiv.org/abs/2210.09338">DRAGON</a>)</li>
                <li>Retrieval augmented models for knowledge-intensive tasks (<a href="https://arxiv.org/abs/2201.08860">GreaseLM</a>, <a href="https://arxiv.org/abs/2210.09338">DRAGON</a>)</li>
                <li>Foundation models (<a href="https://arxiv.org/abs/2108.07258">Foundation Models</a>)</li>
                <li>AI in biomedicine (<a href="https://www.cell.com/cell/fulltext/S0092-8674(24)01332-1">Virtual Cell</a>)</li>
            </ol>
            
            Before Stanford, I was an AI Resident at <a href="https://research.google/">Google Research</a> working with <a href="http://www.cs.columbia.edu/~mcollins/">Michael Collins</a> on pretraining multimodal vision+language models. I was also a research intern at Google Research in summer 2019 working with <a href="https://www.cis.upenn.edu/~danroth/">Dan Roth</a> and <a href="https://iftenney.github.io/">Ian Tenney</a> on probing pretrained language models.<br><br>

            I received my B.S. in computer science at <a href="https://cs.illinois.edu/">UIUC</a> in 2019. I did research with <a href="http://hanj.cs.illinois.edu/">Jiawei Han</a> on data mining and heterogenous graph representation learning.</p>
        </div>
    </div>
</div>​



<hr>

<a id="publications"></a>
<h3>Selected Publications</h3>
<div class="container">
  {% for publication in site.posts %}
  	{% if publication.type == "selected paper" %}  
	
  	<div class="row publication">
        <div class="col-md-3 col-12 text-center">
    		{% if publication.image %}
	  			<img src="{{publication.image}}" />
		{% else %}
			  	<img src="/assets/images/dummywhite.jpg" />
		{% endif %}
        </div>
        <div class="col-md-9 col-12">
        <p>
            <b><a style="color:#525252; padding:0px 0px" href={{publication.link}} >{{ publication.title }}</b></a>
            <br>
            {{ publication.author }}
            <br>
            <!-- {{ publication.journal }},  {{ publication.year }}<br> -->
            <em>{{ publication.journal }}</em><br>

            {% if publication.pdf %}
                    <a class="link" href={{publication.pdf}}  style="color: white;background: #4daf4a">PDF</a>
            {% endif %}

            {% if publication.link %}
                    <a class="link" href={{publication.link}}  style="color: white;background: #984ea3">Abstract</a>
            {% endif %}

            {% if publication.bibtex %}
                    <a class="link" href="{{publication.bibtex}}" style="color: white; background: #e41a1c;">Bibtex</a>
            {% endif %}

            {% if publication.code %}
                    <a class="link" href={{publication.code}}  style="color: white;background: #0E53A7">Code</a>
            {% endif %}

            {% if publication.website %}
                    <a class="link" href={{publication.website}}  style="color: white;background: #d94801">Website</a>
            {% endif %}

            {% if publication.video %}
                    <a class="link" href={{publication.video}}  style="color: white; background: #999999;">Video</a>
            {% endif %}

            {% if publication.blog %}
                <a class="link" href={{publication.blog}}  style="color: white; background: #4099FF;">Blog</a>
            {% endif %}


 	    </p>
        </div>
 	</div>​
  {% endif %}
{% endfor %}
</div>

<h3>Other Publications</h3>
<div class="container">
  {% for publication in site.posts %}
  	{% if publication.type == "paper" %}  
	
  	<div class="row publication">
        <div class="col-md-3 col-12 text-center">
    		{% if publication.image %}
	  			<img src="{{publication.image}}" />
		{% else %}
			  	<img src="/assets/images/dummywhite.jpg" />
		{% endif %}
        </div>
        <div class="col-md-9 col-12">
   	    <p>
            <b><a style="color:#525252; padding:0px 0px" href={{publication.link}} >{{ publication.title }}</b></a>
            <br>
            {{ publication.author }}
            <br>
            <!-- {{ publication.journal }},  {{ publication.year }}<br> -->
            <em>{{ publication.journal }}</em><br>

            {% if publication.pdf %}
                    <a class="link" href={{publication.pdf}}  style="color: white;background: #4daf4a">PDF</a>
            {% endif %}

            {% if publication.link %}
                    <a class="link" href={{publication.link}}  style="color: white;background: #984ea3">Abstract</a>
            {% endif %}

            {% if publication.bibtex %}
                    <a class="link" href="{{publication.bibtex}}" style="color: white; background: #e41a1c;">Bibtex</a>
            {% endif %}

            {% if publication.code %}
                    <a class="link" href={{publication.code}}  style="color: white;background: #0E53A7">Code</a>
            {% endif %}

            {% if publication.website %}
                    <a class="link" href={{publication.website}}  style="color: white;background: #d94801">Website</a>
            {% endif %}

            {% if publication.video %}
                    <a class="link" href={{publication.video}}  style="color: white; background: #999999;">Video</a>
            {% endif %}

            {% if publication.blog %}
                <a class="link" href={{publication.blog}}  style="color: white; background: #4099FF;">Blog</a>
            {% endif %}


 	    </p>
        </div>
 	</div>​
  {% endif %}
{% endfor %}
</div>

​
<hr>
<a id="awards"></a>
<h3>Awards</h3>
<ul class="awards">
    <li>Stanford Data Science Scholar (2024): merit-based, 16 selected out of hundreds of applicants at Stanford</li>
    <li>UIUC Bronze Tablet (2019): highest undergraduate honor at UIUC, top 3% of graduates</li>
</ul> 
<hr>

<a id="community"></a>
<h3>Academic Services</h3>
<ul class="awards">
    <li>Top 5% teaching assistant across the Stanford computer science department during fall 2023 (Head TA in <a href="https://web.stanford.edu/class/cs224w/">CS224W</a>)</li>
    <li>Organizing a workshop "<a href="https://psb.stanford.edu/workshop/tools/">Tools for assembling the cell: Towards the era of cell structural bioinformatics</a>" at the <a href="https://psb.stanford.edu/">Pacific Symposium on Biocomputing (PSB)</a> 2024</li>
    <li>Invited talk at AWS AI Lab in April 2022 on the GreaseLM paper</li>
    <li>Conference reviewer for NeurIPS, AAAI, AACL-IJCNLP</li>
    <li>Journal reviewer for BMC Bioinformatics, IEEE Transactions on Computational Social Systems</li>
    <li>Workshop reviewer for ACL CSRR workshop, CIKM FedGraph workshop, AAAI-GCLR workshop, AAAI-UDM workshop</li>
</ul> 


